<nav class="shadow">
  <ul style="display: flex; text-decoration: none; list-style-type: none;">
    <li style="text-decoration: none;">
      <h2>Countries |  </h2>
    </li>
    <li style="text-decoration: none; margin-left: 10px;">
      <h2><a style="text-decoration: none; " routerLink="/graph"><h2>  Graph </h2></a> </h2>
    </li>
  </ul>
    
    
      
      
    
    <div >
      <span class="fa fa-user"></span>
      <!-- {{ ' ' }} -->
      <span>MUHAMMAD IQBAL</span>
    </div>
  </nav>